<?xml version="1.0" encoding="utf-8"?>
<!--
  Smart Island (2026)
  © Animesh Gupta — github.com/agupta07505
  Licensed under the GNU GPL v3 License
  Do not remove or alter this notice. - Per GPL-3.0 Section 4 & Section 5
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application
        android:name=".SmartIslandApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Smart Island"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:enableOnBackInvokedCallback="true"
        android:theme="@style/Theme.SmartIsland">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SmartIsland">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.SmartIslandOverlayService"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            tools:targetApi="upsidedown_cake">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Floating Dynamic Island overlay"
                tools:targetApi="upsidedown_cake" />
        </service>

        <service
            android:name=".service.SmartIslandNotificationListenerService"
            android:exported="true"
            android:label="Smart Island"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>
</manifest>
